h1 {
  text-align: center;
}

body {
  background-color: #D9CB84;
}

.main-container {
  display: block;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 15px;


}


#grid {
  display: grid;
  width: 500px;
  height: 500px;

}

.cell {
  box-sizing: border-box;

  border: none;
  background-color: white;

}

/* Color Theme Swatches in Hex
.puff-mural-1-hex { color: #A60321; }
.puff-mural-2-hex { color: #0597F2; }
.puff-mural-3-hex { color: #05AFF2; }
.puff-mural-4-hex { color: #D9CB84; }
.puff-mural-5-hex { color: #D98566; }

/* Color Theme Swatches in RGBA
.puff-mural-1-rgba { color: rgba(165, 3, 33, 1); }
.puff-mural-2-rgba { color: rgba(4, 151, 242, 1); }
.puff-mural-3-rgba { color: rgba(4, 174, 242, 1); }
.puff-mural-4-rgba { color: rgba(216, 202, 132, 1); }
.puff-mural-5-rgba { color: rgba(216, 132, 101, 1); } */

/* 